.our-products__section {
  display: block;
  margin-top: 92px;
  margin-bottom: 120px;
}

.our-products-header {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.our-products__headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-products-h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #99a1a7;
}

.our-products-heading {
  font-weight: 500;
  font-size: 96px;
  line-height: 123px;
  color: #001423;
}

.btn-tag.tag-active {
  background-color: var(--main-black);
  color: white;
}

.dark-bg .btn-tag.tag-active {
  background-color: white !important;
  color: var(--main-black) !important;
}

.our-products-cont {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}

.our-product {
  display: flex;
  flex-direction: column;
}

.our-product:nth-child(even) {
  margin-top: 120px;
}

.product-margin-top {
  margin-top: 120px !important;
}
/* 
.filtered .our-product:not([style*="display: none"]):nth-child(even) {
  margin-top: 120px;
} */

.our-product-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.our-products-header .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.product-tags {
  margin-top: 32px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.product-tag {
  font-size: 18px;
  line-height: 23px;
  color: #66727b;
}

.our-product .our-products-h2 {
  text-align: unset;
  font-weight: 700;
  color: #001423;
}

.our-product .btn-light-secondary {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: max-content;
}

.our-products-cont > .btn-light-secondary {
  margin-top: 120px;
  grid-column: span 2;
  justify-self: center;
}

.hidden-product {
  display: none;
}

.hide-product {
  display: none;
}

.hide-see-products {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .our-products__section {
    margin-top: 72px;
  }

  .our-products-heading {
    font-size: 64px;
    line-height: 81px;
  }

  .our-products-h2 {
    font-size: 32px;
  }

  .our-products-header {
    gap: 32px;
  }

  .our-product:nth-child(even) {
    margin-top: 64px;
  }

  .product-margin-top {
    margin-top: 64px !important;
  }

  .our-product .btn-light-secondary {
    margin-top: 32px;
  }
  .product-tags {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .our-products-cont > .btn-light-secondary {
    margin-top: 64px;
  }
}

@media only screen and (max-width: 1024px) {
  .our-products__section {
    margin-top: 52px;
    margin-bottom: 64px;
  }

  .our-products-header {
    gap: 24px;
  }

  .our-products-cont {
    margin-top: 48px;
  }

  .our-products-h2 {
    font-size: 24px;
    line-height: 20px;
  }

  .our-products-heading {
    font-size: 48px;
    line-height: 90px;
  }

  .our-product .btn-light-secondary {
    gap: 14px;
  }

  .btn-light-secondary svg {
    width: 24px;
    height: 24px;
  }

  .our-products-cont > .btn-light-secondary {
    margin-top: 48px;
  }
}

@media only screen and (max-width: 800px) {
  .our-products-h2 {
    font-size: 20px;
    line-height: 14px;
  }

  .our-products-cont {
    column-gap: 24px;
  }
}

@media only screen and (max-width: 600px) {
  #switch_container {
    padding-right: 28px;
  }

  .our-products-h2 {
    font-size: 20px;
    line-height: 14px;
  }

  .our-product {
    margin-top: 0px !important;
  }

  .our-products-cont {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .our-products-cont > .btn-light-secondary {
    grid-column: span 1;
  }

  .our-product .our-products-h2 {
    font-size: 28px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 428px) {
  .our-products-h2 {
    font-size: 18px;
    line-height: 14px;
  }

  .our-products-heading {
    margin: 24px 0;
    font-size: 32px;
    line-height: 28px;
  }

  .product-tag {
    font-size: 14px;
    line-height: 10px;
  }

  .our-product .our-products-h2 {
    font-size: 20px;
    line-height: 14px;
  }

  .our-product .btn-light-secondary {
    margin-top: 24px;
  }

  .our-products-header {
    gap: 5px;
  }

  .our-products-cont {
    margin-top: 24px;
  }

  .our-products__section {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .our-products-cont > .btn-light-secondary {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 350px) {
  .dark-bg .btn-light-secondary {
    border: none;
  }

  .btn-see-product.btn-light-secondary {
    padding: 12px 18px;
    border: 1px solid rgba(0, 20, 35, 0.1);
    border-radius: 100px;
    text-decoration: none;
  }
}
