:root {
  --white: #fff;
  --main-black: #001423;
  --main-black-2: #00233e;
  --main-blue: #008fff;
  /* LIGHT VARIABLES */
  --grey-light-1: #4d5b66;
  --grey-light-2: #99a1a7;
  --grey-light-3: #f7f8f8;
  /* DARK VARIABLES */
  --black-dark-1: #00050a;
  --black-dark-2: #0d1216;
  --grey-dark-1: #b2b4b5;
  --grey-dark-2: #66696c;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: var(--main-black);
}

::selection {
  color: var(--white);
  background: var(--main-black);
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Book.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mont";
  font-weight: 500;
  scrollbar-width: 0;
  transition: 0.2s ease-in-out;
}

html {
  font-size: 18px;
  transition: 0.2s ease-in-out;
  /* cursor: none; */
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  overflow-x: hidden;
  margin: auto;
  scroll-behavior: smooth;
}

.container {
  margin: 0 64px;
}

.outer-container {
  max-width: 1616px;
  margin: auto;
}

.btn {
  border: none;
  background: none;
  outline: none;
  transition: 0.2s ease-in-out;
  cursor: pointer !important;
}

.btn a,
.btn span,
.btn {
  color: var(--main-black);
  font-size: 18px;
}

.btn-light-secondary {
  padding: 18px 32px;
  border: 1px solid rgba(0, 20, 35, 0.1);
  border-radius: 100px;
}

.btn-light-secondary:hover {
  background-color: var(--main-black);
  color: var(--white);
}

.btn-light-secondary:hover > a,
.btn-light-secondary:hover > span {
  color: var(--white);
}

.dark-bg .btn-light-secondary:hover {
  background-color: white;
  color: var(--main-black) !important;
}

.dark-bg .btn-light-secondary:hover > a,
.dark-bg .btn-light-secondary:hover > span {
  color: var(--main-black) !important;
}

.btn-circle {
  border-radius: 100px;
  width: 64px;
  height: 64px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.btn-light-filled {
  background-color: var(--main-black);
}

.dark-bg .right-bottom-floating-buttons-container .btn-circle {
  border: 1px solid white;
}

.dark-bg .right-bottom-floating-buttons-container .btn-light-filled {
  background-color: white;
}

.dark-bg .right-bottom-floating-buttons-container .btn-circle svg path {
  fill: white;
}

.dark-bg .right-bottom-floating-buttons-container .btn-light-filled svg path {
  fill: var(--main-black);
}

.btn-light-filled.btn-circle:hover {
  background-color: var(--main-blue);
}

.btn-light-outline {
  border: 1px solid var(--main-black);
}

.btn-light-outline.btn-circle:hover {
  background-color: var(--main-black);
}

.dark-bg
  .right-bottom-floating-buttons-container
  .btn-light-outline.btn-circle:hover {
  background-color: white;
}

.dark-bg
  .right-bottom-floating-buttons-container
  .btn-light-outline.btn-circle:hover
  svg
  path {
  fill: var(--main-black);
}

.dark-bg .right-bottom-floating-buttons-container .btn-light-filled:hover {
  background-color: var(--main-black-2);
}

.dark-bg
  .right-bottom-floating-buttons-container
  .btn-light-filled:hover
  svg
  path {
  fill: white;
}

#btn-scrolltop {
  display: none;
  transition: 0.2s ease-in-out;
  animation: scrolltopactive;
  animation-duration: 0.5s;
}

@keyframes scrolltopactive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show {
  display: block !important;
}

.btn-light-outline.btn-circle:hover > svg path {
  fill: var(--white);
}

.p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.text-center {
  text-align: center;
}

.text-grey-light-1 {
  color: var(--grey-light-1);
}

.text-16 {
  font-size: 16px;
}

.right-bottom-floating-buttons-container {
  display: grid;
  grid-gap: 24px;
  align-items: center;
  justify-items: center;
  position: fixed;
  right: 64px;
  bottom: 64px;
  z-index: 2;
}

h2 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  color: var(--main-black);
}

#btn-burger-menu {
  position: fixed;
  right: 64px;
  top: 60px;
  z-index: 2;
}

.inpt-regular {
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(0, 20, 35, 0.1);
  color: var(--main-black);
  font-family: "Mont";
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  padding: 12px 0;
}

.inpt-regular:focus {
  border-bottom: 2px solid rgb(0, 20, 35);
}

.inpt-regular::placeholder {
  color: var(--grey-light-1);
}

textarea {
  resize: none;
  height: 200px;
}

.btn-light-primary {
  background-color: var(--main-black);
  padding: 24px 64px;
  color: var(--white);
  border-radius: 100px;
  transition: 0.2s ease-in-out;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.btn-light-primary:hover {
  background-color: var(--main-blue);
}

/* ABOVE HEADER NOTIFICATION */

.section-above-header-notification {
  background-color: var(--main-black);
  padding: 16px;
  display: grid;
  justify-items: center;
}

.section-above-header-notification p {
  color: var(--white);
}

/* DARK THEME STYLES */

.dark-bg * {
  color: var(--white) !important;
}

.dark-bg,
.dark-bg div {
  background-color: var(--black-dark-1) !important;
}

.dark-bg footer,
.dark-bg footer div {
  background-color: #0d1216 !important;
}

.dark-bg .budget-selectors input:checked + label {
  background-color: #fff !important;
  color: #001423 !important;
}
.dark-bg .budget-selectors input:checked + label .text-16 {
  color: #001423 !important;
}

.dark-bg .right-bottom-floating-buttons-container {
  background-color: unset !important;
}

.dark-bg .inpt-regular {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.inputs-container * {
  color: rgb(178, 180, 181) !important;
}

.dark-bg .text-grey-light-1 {
  color: #b2b4b5 !important;
}
.dark-bg .faq-container {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.dark-bg .faq-container .active-faq,
.dark-bg .faq-container .answercont,
.dark-bg .faq-container .answercont div {
  background-color: #0d1216 !important;
}

.dark-bg .faq-container .question::after {
  background: url(../img/cooliconwhiteX.svg);
  background-position: center center !important;
}

.dark-bg .faq-container .question h3 {
  color: var(--grey-light-1);
  color: rgba(255, 255, 255, 0.7) !important;
}

.dark-bg .bg-section-team,
.dark-bg .bg-section-team div {
  background-color: #0d1216 !important;
}

.dark-bg .bg-section-team .team-member-main {
  background-color: #000000 !important;
}

.dark-bg .bg-section-team .team-member-main .text-grey-light-1 {
  color: #66727b !important;
}

.dark-bg .btn-light-secondary {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 87px;
}

.dark-bg .prj-item p {
  color: var(--grey-light-1) !important;
}

.blackmode {
  display: none;
}

.dark-bg .blackmode {
  display: block;
}

.dark-bg .lightmode {
  display: none;
}

.dark-bg .btn-light-primary {
  background-color: #fff;
  color: #001423 !important;
}

.dark-bg .btn-light-primary:hover {
  background-color: var(--main-black-2);
  color: var(--grey-light-3) !important;
}

@media only screen and (max-width: 1440px) {
  .container {
    margin: 0 40px;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    margin: 0 32px;
  }
}

@media only screen and (max-width: 1024px) {
  .btn a,
  .btn span,
  .btn {
    line-height: 18px;
    font-size: 14px;
  }

  .btn-light-secondary {
    padding: 14px 24px;
  }
}

@media only screen and (max-width: 428px) {
  .container {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    margin: 0 16px;
  }
}
