.bg-section-team {
    background-color: #F7F8F8;
    padding: 120px 0;
}

.section-team .section-team-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.section-team .section-team-header .p {
    max-width: 728px;
}

.team-container {
    margin-top: 120px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
}

.section-team .team-member {
    transition: 0.2s ease-in-out;
}

.section-team .team-member:hover {
    transform: scale(1.05);
    box-shadow: 0px 25px 39px -16px rgba(0, 20, 35, 0.25);
}

.section-team .team-member:hover>.team-member-main h3 {
    color: var(--main-blue);
}

.section-team .team-member-header {
    background: linear-gradient(180deg, #CCCCCC 0.01%, rgba(204, 204, 204, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    position: relative;
    display: grid;
    justify-items: center;
    align-items: end;
}

.section-team .team-member-header img {
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 293px;
    height: auto;
}

.team-member-main {
    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
    padding: 24px;
    display: grid;
    justify-items: center;
    grid-gap: 12px;
}

.team-member-main h3 {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: var(--main-black);
    transition: 0.2s ease-in-out;
}

#btn-section-team {
    margin-top: 64px;
}

.section-team-cta-container {
    display: grid;
    justify-content: center;
}